@model ProjectViewModel

@{
	ViewData["Title"] = "Create the new project";
}

@section styles {
    <!-- <link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" /> -->
    <link href="~/lib/quill/dist/quill.snow.css" rel="stylesheet" />
}

<div class="row justify-content-center mt-5">
    <div class="col-md-10 p-4">
        <div class="card">
            <div class="card-header">Create a new project to show in the portfolio page.</div>
        
            <div class="card-body">
                <form id="projectForm" asp-controller="Panel" asp-action="Edit" method="POST" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" placeholder="Project title." type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Summary"></label>
                        <textarea asp-for="Summary" placeholder="A short description about the project." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>test</label>
                        <input id="test" class="form-control" value="a"/>
                    </div>
                    <div class="form-group">
                        <!-- <label asp-for="Body"></label>
                        <textarea asp-for="Body" placeholder="A description about the project." id="editor" class="form-control"></textarea> -->
                        <label asp-for="Body"></label>
                        <input asp-for="Body" id="hiddenArea" type="hidden" />
                        <div id="editor-container"></div>
                    </div>
                    <div class="form-group my-4">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsCommercial" type="checkbox" />
                                <span></span><p class="checkbox_label">This is a commercial project</p>
                            </label>
                        </div>
                    </div>
                    <div class="form-group my-4">
                        <div class="radio">
                            <label>
                                <input type="radio" asp-for="IsWebProject" value="true" />
                                <span></span><p class="checkbox_label">Web application</p>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" asp-for="IsWebProject" value="false" />
                                <span></span><p class="checkbox_label">Console application or algorithm</p>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="CurrentImage" type="hidden" />
                        <input asp-for="Image" type="file" class="upload" />
                    </div>

                    <div class="form-group">
                            @for (int i = 0; i < Model.AvailableTechnologyTags.Count; i++)
                            {
                                <div>
                                    <input asp-for="@Model.AvailableTechnologyTags[i].Selected" type="checkbox" />
                                    <label asp-for="@Model.AvailableTechnologyTags[i].Selected">@Model.AvailableTechnologyTags[i].Name</label>
                                    <input asp-for="@Model.AvailableTechnologyTags[i].Id" type="hidden" />
                                    <input asp-for="@Model.AvailableTechnologyTags[i].Name" type="hidden" />
                                </div>
                            }
                    </div>
                
                    <div class="row my-4 justify-content-center">
                        <button type="submit" class="btn btn-sm btn__rect col-xs-6">@ViewData["ButtonTitle"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script> -->
    <script src="~/lib/quill/dist/quill.min.js"></script>
    <script>
        var quill = new Quill('#editor-container', {
            theme: 'snow'
        });

        <!-- quill.setContents(JSON.parse($('#hiddenArea').val())); -->
        var con = $('#hiddenArea').val();
        quill.setContents(JSON.parse(con));

        $('#projectForm').on('submit',function(){
            $('#hiddenArea').val(JSON.stringify(quill.getContents()));
        });


    </script>
}