@model IEnumerable<PortfolioProject>

@{
	ViewData["Title"] = "Portfolio";
}

<div class="container mt-4 mb-3">
    <div class="row">
    <div class="col">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    </div>
    <div class="row mb-5">
    <div class="col">
        <button type="button" class="btn btn-sm btn-sm__rect" data-filter="all">All</button>
        <button type="button" class="btn btn-sm btn-sm__rect" data-filter=".web">Web projects</button>
        <button type="button" class="btn btn-sm btn-sm__rect" data-filter=".alg">C++ / C#</button>
        <button type="button" class="btn btn-sm btn-sm__rect" data-filter=".comm">Commercial</button>
        <button type="button" class="btn btn-sm btn-sm__rect" data-filter=".edu">Educational</button>
    </div>
    </div>
    
    <div class="row justify-content-around justify-content-sm-start mb-5" id="portfolio__container" data-ref="mixitup-container">
        @foreach (var portfolioProject in Model)
        {
            <figure class=  "col-11 col-sm-6 col-lg-4 snip 
                            @((portfolioProject.IsCommercial == true) ? " comm" : " edu")
                            @((portfolioProject.IsWebProject == true) ? " web" : " alg")"
            data-ref="mixitup-target">
                @if (!String.IsNullOrEmpty(portfolioProject.Image))
                {
                    var image_path = $"/Image/{portfolioProject.Image}";
                    <img src="@image_path"/>
                }
                else
                {
                    <img src="~/content/static/img360.png" alt="Project demo image">
                }
                <figcaption class="overflow-y-hide">
                    <h2>
                        @portfolioProject.Title
                    </h2>
                    <p>
                        @portfolioProject.Summary
                    </p>
                </figcaption>
                <a asp-controller="Portfolio" asp-action="Project" asp-route-id="@portfolioProject.Id"></a>
                <div class="project__tags"><i class="fab fa-html5"></i><i class="fab fa-css3"></i><i class="fab fa-js"></i></div>
            </figure>
        }
    </div>
</div>

@section scripts {
    
    <script src="~/lib/mixitup/mixitup.min.js"></script>
    <script>
        // Initialize Mixitup (gallery and filter)
        var containerEl = document.querySelector('[data-ref="mixitup-container"]');

        var mixer = mixitup(containerEl, {
            selectors: {
                target: '[data-ref="mixitup-target"]'
            }
        });
        // Initialize Mixitup - END
    </script>
}
