@model Project

@{
	ViewData["Title"] = "Project details";
}

@section styles {
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
}

<div class="container">
    <div class="row mt-4 mb-5 align-items-center">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-12 col-sm-6 order-sm-last text-center text-sm-left">
                <div class="btn-group" role="group" >
                    <a asp-controller="Panel" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-admin btn-outline-secondary"> 
                        Edit
                    </a>
                    <a asp-controller="Panel" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-admin btn-danger"> 
                        Remove
                    </a>
                </div>
            </div>
        }
        <div class="col-6">
            <a class="btn cta" role="button" asp-controller="Portfolio" asp-action="Index" title="Come back to portfolio page">
                <svg width="20px" height="10px" viewBox="0 0 20 10">
                    <path d="M1,5 L15,5"></path>
                    <polyline points="6 1 1 5 6 9"></polyline>
                </svg>
                <span>Back to portfolio</span>
            </a>
        </div>
    </div>
    
    <div class="row mb-5">
    <div class="col-12 mb-3">
        <h1>
            @Model.Title
        </h1>
    </div>
    <div class="col-12 mb-4">
        <span>
            Posted at @Model.Created
        </span>
    </div>
    <div class="col-12 project__tags-lg">
        @if (Model.ProjectTechnologyTags != null)
        {
            foreach (var tag in Model.ProjectTechnologyTags)
            {
                <i class="@tag.TechnologyTag.CssClassName"></i>
            }
        }
    </div>
        <!-- <div class="col-12 project__tags-lg">
            <i class="fab fa-html5"></i>
            <i class="fab fa-css3"></i>
            <i class="fab fa-js"></i>
            <i class="fab fa-sass"></i>
            <i class="fab fa-gulp"></i>
        </div> -->
    </div>
    
    <div class="row mb-4">
        <div class="col-md-5 col-lg-4 order-lg-2" id="block2__photo">
            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var image_path = $"/Image/{Model.Image}";
                <img src="@image_path"/>
            }
            else
            {
                <img src="~/content/static/img360.png" alt="Project demo image">
            }
        </div> <!-- /.col-md-5 #block2__photo -->
        <div class="col-md-7 col-lg-8 order-lg-1 offset__right">
        
            <div id="block2__text__separator"></div>            
            <p>
                @Model.Summary
            </p>
        </div> <!-- /.col-md-7 -->
        </div> <!-- /.row -->
        
        <div class="row mb-5">
        <div class="col-12">       
            <p>
                @Html.Raw(@Model.Body)
            </p>

        </div> <!-- /.col-md-7 -->
    </div> <!-- /.row -->
</div>
